<form action="/edit" method="post">

  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow" value="{{user.username}}">

  <button type="submit">EDIT</button>
</form>